body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 6px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
    text-align: left;
}

#successMessage {
    color: green;
    margin-top: 10px;
}
.img {
    width: 100px;
    margin-bottom: 10px
}
.options {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.options a{
    text-decoration: none;
    color: blue;

}
.options a:hover {
    text-decoration: underline;
}
.options label {
    display: flex;
    align-items: center;
}
/*.options input[type="checkbox"] {
    margin-right: 5px;
}